# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env
*.local
.env
.env.*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
